* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 1100px;
    text-align: center;
}

.title {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #333;
}

.review-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -1em; /* Added negative margin to create space between blocks */
}

.review-item {
    flex: 1 0 30%;
    margin: 0 1em 2em; /* Added margin between blocks */
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.review-content {
    padding: 1.5em;
}

.review-text {
    font-size: 1.1em;
    color: #333;
    line-height: 1.5;
    margin-bottom: 0.5em;
}

.customer-name {
    font-size: 1em;
    color: #666;
    margin-bottom: 1em;
}

.customer-image-container {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
}

.customer-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}